In [46]:
import undetected_chromedriver as uc
from selenium.webdriver.common.by import By as by
from selenium.webdriver.common.keys import Keys as keys
import time
import pandas as pd

In [118]:
driver = uc.Chrome()
driver.get('https://search.naver.com/search.naver?ssc=tab.news.all&where=news&sm=tab_jum&query=%EB%8C%80%EA%B5%AC%EC%9D%80%ED%96%89')

In [120]:
body = driver.find_element(by.TAG_NAME, 'body')
for i in range(0, 10):
    time.sleep(1)
    body.send_keys(keys.PAGE_DOWN)

In [122]:
box = []
while True:
    news = driver.find_element(By.CSS_SELECTOR, "ul.list_news._infinite_list").find_elements(By.CSS_SELECTOR, "li.bx")
    for i in news:
        title = (i.find_element(By.CSS_SELECTOR, "a.news_tit").get_attribute('title'))
        summary = (i.find_element(By.CSS_SELECTOR, "div.dsc_wrap").text.strip())
        A = [title, summary]
        if A not in box:
            box.append(A)
    if len(box) == 100:
        break
    print(f"{len(box)}개 뉴스기사 수집 완료")
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(3)

10개 뉴스기사 수집 완료
10개 뉴스기사 수집 완료
10개 뉴스기사 수집 완료
10개 뉴스기사 수집 완료
10개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
30개 뉴스기사 수집 완료
40개 뉴스기사 수집 완료
50개 뉴스기사 수집 완료
50개 뉴스기사 수집 완료
50개 뉴스기사 수집 완료
60개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
80개 뉴스기사 수집 완료
90개 뉴스기사 수집 완료
90개 뉴스기사 수집 완료
90개 뉴스기사 수집 완료
90개 뉴스기사 수집 완료
90개 뉴스기사 수집 완료
90개 뉴스기사 수집 완료
90개 뉴스기사 수집 완료
90개 뉴스기사 수집 완료

In [225]:
driver = uc.Chrome()
driver.get('https://shopping.naver.com/fresh/directfarm/home')

In [227]:
box = []
while True:
    for i in driver.find_elements(By.CSS_SELECTOR, "li._1OKV3UfxuI"):
        title = (i.find_element(By.CSS_SELECTOR, "strong._1lxNNH5gfD").text.strip())
        price = (i.find_element(By.CSS_SELECTOR, "span._3MzrqSUlwR").text)
        star = (i.find_element(By.CSS_SELECTOR, "span._29gNnX1yLx").text.split("\n")[1])
        review = (i.find_elements(By.CSS_SELECTOR, "span._29gNnX1yLx")[1].text)
        A = [title, price, star, review]
        if A not in box:
            box.append(A)
            if len(box) == 100:
                break
    print(f"{len(box)}개 아이템 수집 완료")
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(3)
    if len(box) == 100:
        break

box

10개 아이템 수집 완료
10개 아이템 수집 완료
30개 아이템 수집 완료
50개 아이템 수집 완료
50개 아이템 수집 완료
70개 아이템 수집 완료
90개 아이템 수집 완료
100개 아이템 수집 완료

[['거거수산 실패 없는 벌교 새꼬막 1kg (2kg부터 구매가능) 꼬막 제철 자숙 꼬막오프너',
  '17,800원',
  '4.77',
  '29,553'],
 ['대저 짭짤이 토마토 2.5kg 특품 품평회 금상수상', '33,900원', '4.71', '15,147'],
 ['품평회 대상수상 부산 대저 짭짤이 토마토 2.5kg 특품 대저토마토', '34,900원', '4.72', '12,503'],
 ['[맛없으면 100% 환불] 실패없는 고당도 천혜향', '24,900원', '4.88', '586'],
 ['프리미엄 고당도 레드향 3kg 특품 로얄과 선물세트', '32,900원', '4.73', '2,067'],
 ['대저 짭짤이 토마토 2.5kg 로얄과 부산 하늘농원 미니과', '33,400원', '4.57', '27,858'],
 ['동해 삼척 피문어 생물 대왕 문어 제수용 자숙 대문어 1.5kg 시세', '74,000원', '4.9', '3,540'],
 ['제주 레드향 직배송 프리미엄 가정용 선물세트', '21,900원', '4.59', '31,887'],
 ['부산 대저토마토 대저 짭짤이 토마토', '39,900원', '4.77', '13,628'],
 ['농장에서 갓 따온 신선한 설향 딸기 프리미엄 생딸기 750g', '16,500원', '4.89', '7,065'],
 ['무농약 연근 세척 김제연근 특품 암연근 1kg', '8,900원', '4.82', '1,811'],
 ['고당도 대저 짭짤이 토마토 2.5kg 로얄과 대저토마토', '32,900원', '4.73', '8,780'],
 ['하랑 토마토마 고당도 캔디 방울 토마토 3kg', '23,900원', '4.76', '7,406'],
 ['완숙 찰 토마토 2.5kg 5kg', '16,900원', '4.84', '445'],
 ['하랑 토마토마 오색 컬러 칵테일 토마토 3kg', '19,900원', '4.71', '9,678'],
 ['제주 한라봉 10kg 5kg 가정용 선물세트', '65,900원', '4.59', '14,399'],
 ['[대왕 딸기] 논산 킹스베리 생딸기 1kg 제철 딸기농장 택배 선물세트', '39,500원', '4.76', '484'],
 ['와일드 루꼴라 500g 1kg 250g 로케트', '6,500원', '4.94', '2,092'],
 ['대저 짭짤이 토마토 2.5kg 로얄과 특품 부산', '15,900원', '4.69', '5,050'],
 ['농장직송 고당도 천혜향 5kg 3kg(과일 실중량)', '42,800원', '4.78', '1,164'],
 ['프리미엄 대저 짭짤이 토마토 2.5kg 특품 당일수확', '32,900원', '4.72', '453'],
 ['국내산 손질 반건조참조기기본10마리 중사이즈6마리', '10,900원', '4.52', '5,235'],
 ['[맛없으면 100% 환불] 실패없는 고당도 한라봉', '24,900원', '4.86', '422'],
 ['24년 햇마늘 마늘 한접 저장 통마늘 깐마늘 1kg', '8,500원', '4.73', '4,847'],
 ['통영 싱싱한 해풍 노지 풋마늘 1단 1kg 잎마늘 마늘 장아찌', '10,900원', '4.52', '553'],
 ['[대기만감] 제주 프리미엄 고당도 레드향 5kg 3kg', '54,900원', '4.82', '597'],
 ['생물 활 쭈꾸미 제철 자연산 고흥 주꾸미 1kg 5-10미', '49,900원', '4.7', '704'],
 ['확실하게 세척한 세척냉이 500g 봄나물', '8,900원', '4.68', '161'],
 ['강원도 횡성 더덕 / 깐더덕 24년 햇더덕', '12,500원', '4.65', '1,274'],
 ['선주직송 수율보장 프리미엄 연지홍게 박달홍게 수율 좋은 맛있는 홍게', '22,900원', '4.68', '581'],
 ['24년 토마토품평회 은상 경민농장 대저짭짤이토마토 대저토마토 2.5kg', '32,900원', '4.87', '420'],
 ['전남화순 당일수확 GAP 대추방울토마토2kg 혼합과', '18,900원', '4.7', '2,230'],
 ['국산 서해안 냉동 생물 활 쭈꾸미 1kg 알배기 알주꾸미', '45,800원', '4.77', '21,573'],
 ['통영 비진도 자연산 쑥 100g 노지 야생 봄 나물 제철 채소 생쑥', '5,900원', '4.73', '705'],
 ['고당도 대저 짭짤이 토마토 2.5kg 로얄과 특품 당도보장', '32,900원', '4.79', '1,349'],
 ['봄을 알리는 대저 짭짤이 토마토 2.5kg', '27,000원', '4.92', '232'],
 ['아삭 달큰한 제주도 햇콜라비 3kg', '15,500원', '4.69', '251'],
 ['매일 새벽에 수확해서 발송하는 신선한 산청 설향딸기 700g', '15,900원', '4.73', '769'],
 ['쌉싸름한 맛 비진도 노지 머위 순 잎 500g 봄나물', '16,900원', '4.55', '356'],
 ['부산 대저토마토 대저짭짤이토마토 2.5kg 짭잘이 농장직송', '32,800원', '4.77', '7,470'],
 ['죽향딸기 딸기 딸기선물세트 대과 750g 30과', '26,900원', '4.9', '10'],
 ['완도 자연산 문어 돌문어 국내산 1kg', '19,900원', '4.83', '113'],
 ['벌교 꼬막 1kg 여수 새꼬막 제철', '9,500원', '4.74', '428'],
 ['농장직송 고당도 한라봉 5kg 3kg', '32,800원', '4.75', '827'],
 ['2024 거제 햇 죽순 무농약 삶은 죽순 500g', '7,900원', '4.72', '3,587'],
 ['GAP 인증 흑대추 방울토마토 2kg ,1kg', '24,000원', '4.68', '60'],
 ['노지 초벌 털이 부추 300g 노지 부추 봄부추 제철 농산물 약부추 초벌부추', '11,900원', '4.69', '327'],
 ['서안동농협 국내산 우엉 2kg', '14,900원', '4.76', '246'],
 ['서해안 반건조 두절 참조기 400gx3팩/10~12미/옵션선택', '25,900원', '4.45', '11,754'],
 ['장성 문영철농부 새싹삼 새싹인삼', '25,900원', '4.75', '19,777'],
 ['새벽수확 당일발송 고당도 딸기 생딸기 설향 설향딸기 논산 산지직송', '17,000원', '4.66', '1,173'],
 ['2025 비파괴 당도선별 제주 레드향 선물형 2kg 3kg 벌크형 2.5kg', '38,000원', '4.95', '21'],
 ['벌교 제철 산지직송 새꼬막 대품/혼합형 선택가능 1kg', '6,000원', '4.73', '562'],
 ['신품종 흑대추방울토마토 블랙방울토마토 방토 2kg', '22,500원', '4.66', '141'],
 ['청정 지역 완도 매생이 메생이 100gx5팩', '8,900원', '4.79', '463'],
 ['친환경 아쿠아포닉스 버터헤드 500g 멀티버터헤드 레터스 샐러드채소 유럽샐러드', '9,800원', '4.94', '131'],
 ['초신선 벌교 새꼬막 상사이즈 1kg', '11,800원', '4.71', '1,652'],
 ['쭈꾸미 국산 냉동 주꾸미7-12미 1kg', '27,900원', '4.93', '28'],
 ['김포 유기농 흙연근 파지연근 1kg', '8,500원', '4.82', '209'],
 ['최상급 삼대대저짭짤이 토마토 2.5KG GAP인증', '35,700원', '4.91', '228'],
 ['(친환경 무농약) 명인 봄춘 완숙 찰 토마토 5KG 프리미엄과일 (봄춘농장)', '35,900원', '4.81', '2,384'],
 ['[무농약 수경재배]유러피안 샐러드 야채 쌈채소 600g', '8,900원', '4.86', '221'],
 ['당일수확 친환경 유기농 케일 즙용 쌈용 2kg 1kg 녹즙용 주스용케일 쥬스용', '17,900원', '4.82', '2,161'],
 ['[아삽야콘농원] 국내산 냉동오크라 1kg(70개정도)', '13,900원', '4.66', '593'],
 ['대추토마토 무농약 대추방울토마토 친환경 로얄과 2kg', '24,890원', '4.8', '1,459'],
 ['단단하고 속이 꽉 찬 고당도 프리미엄 금실딸기 700g', '26,400원', '4.86', '155'],
 ['제수용 고흥 자연산 돌문어 1kg 2kg 문어 생물문어 냉동문어', '23,900원', '4.84', '570'],
 ['곡성 무농약 깐토란1kg 생토란 2kg / 햇 토란', '12,900원', '4.75', '4,118'],
 ['제주한라봉 고당도한라봉 산지직송 2.5kg 4.5kg 실속형 선물용', '29,000원', '4.83', '185'],
 ['해풍맞은 통영 비진도 노지 시금치 1단 300g내외', '5,900원', '4.66', '444'],
 ['제주 한라봉 3kg 5kg 10kg 선물세트 가정용벌크', '86,000원', '4.78', '1,535'],
 ['제주 서귀포 신선한 한라봉 선물용 벌크 5kg 3kg', '39,800원', '4.73', '906'],
 ['제주 콜라비 제철 겨울 햇콜라비 1kg 외5종', '25,000원', '4.83', '122'],
 ['무농약토마토 대저 짭짤이2.5kg 고당도 짭짤이토마토 로얄과', '36,900원', '4.54', '3,112'],
 ['완도 햇매생이 350g 찰매생이 150g 10재기 개별진공포장 낱개판매가능', '30,400원', '4.54', '13'],
 ['진주 무농약 우엉2kg(특)', '17,800원', '4.58', '633'],
 ['국산 무농약 연근채 세척연근 1kg 친환경 슬라이스 400g', '11,900원', '4.92', '332'],
 ['무농약 흙연근 슬라이스 통연근 1kg', '9,900원', '4.77', '9,193'],
 ['부산 짭짤이 대저토마토 2.5kg(5-7번) 로얄과', '27,900원', '4.51', '204'],
 ['제주 한라봉 가정용 선물세트', '21,900원', '4.62', '8,211'],
 ['당일수확 딸기 800g 유별난농장/선물포장', '15,900원', '4.86', '145'],
 ['24년 햇마늘 1kg 대서 마늘 깐마늘 통마늘 청년농부', '8,500원', '4.83', '387'],
 ['친환경 아쿠아포닉스 이자벨 500g 샐러드채소 유럽샐러드 여주아쿠아포닉스농장', '9,800원', '4.86', '21'],
 ['제주 한라봉 5kg 3kg 선물세트 가정용 제철 못난이 꼬마', '50,900원', '4.71', '1,503'],
 ['급이 다른 수한농원 클로렐라 설향 딸기 완벽택배포장 새벽수확 (700g내외)', '17,500원', '4.59', '2,765'],
 ['고당도 서귀포 레드향 선물세트 가정용벌크 5kg 3kg', '51,900원', '4.68', '985'],
 ['홈파티 구룡포 당일조업 박달 연지홍게 자숙 3kg', '36,900원', '4.54', '1,663'],
 ['대추 방울토마토 2kg 토마토 당일수확', '19,900원', '4.5', '3,099'],
 ['고당도 프리미엄 레드향 3kg 특품 당도보장', '32,900원', '4.7', '261'],
 ['명품 고당도 제주 레드향 5kg, 4kg, 3kg, 2kg / 일반포장, 선물세트', '65,900원', '5.0', '7'],
 ['국산 죽순 1kg 데친 죽순 냉동', '23,000원', '4.72', '359'],
 ['[선주직송] 프리미엄 연지홍게 수율보증 자숙 박달홍게 3kg', '45,000원', '4.77', '157'],
 ['남해섬 통흑마늘 1kg 황토발효숙성 (40개 내외)', '44,500원', '4.82', '375'],
 ['제주 서귀포 명품 레드향', '55,500원', '4.78', '2,016'],
 ['국산 연근 2kg(특품) 생연근 통연근', '23,900원', '4.83', '831'],
 ['경기도 시흥 친환경 연근 무농약 1kg', '10,500원', '4.85', '53'],
 ['품질보증 대저 짭짤이 토마토 2.5kg 로얄과', '36,900원', '4.63', '5,938'],
 ['친환경 유기농 케일 신선초 1kg 녹즙용 녹즙재료', '7,000원', '4.77', '226'],
 ['유럽종완숙토마토 5kg', '29,800원', '4.76', '1,249'],
 ['짭짤한 맛 보장 단짠토마토 대저토마토 2.5kg', '24,900원', '4.74', '815']]

In [229]:
import requests

idx = 0
for i in driver.find_elements(by.CSS_SELECTOR, 'li._1OKV3UfxuI'):
    image = i.find_element(by.TAG_NAME, 'img')
    src = image.get_attribute('src')

    if not src:
        continue
    for j in ['.jpg', '.png', '.jpeg', '.gif']:
        if j in src:
            a = src.split('?')[0]
            f = open(f'{idx}{j}', 'wb')
            respone = requests.get(src)
            f.write(respone.content)
            f.close()
            idx += 1

In [263]:
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

driver = uc.Chrome()
driver.get('https://finance.naver.com/item/sise_day.naver?code=005930')

In [265]:
# 1~10페이지까지 테이블을 셀레니움으로 가져와서 하나의 데이터프레임 만들기

total = []
for i in range(1, 11):
    driver.get(f'https://finance.naver.com/item/sise_day.naver?code=005930&page={i}')
    html = BeautifulSoup(driver.page_source)
    table = html.find('table')
    table = pd.read_html(str(table))[0].dropna()
    total.append(table)

pd.concat([data for data in total], ignore_index=True)

            날짜       종가        전일비       시가       고가       저가         거래량
0   2025.02.27  56600.0        보합0  56500.0  57100.0  56400.0   7765069.0
1   2025.02.26  56600.0    하락  600  57000.0  57100.0  56100.0  18117091.0
2   2025.02.25  57200.0    하락  100  56600.0  57800.0  56500.0  14625181.0
3   2025.02.24  57300.0    하락  900  57300.0  57700.0  57200.0  14138471.0
4   2025.02.21  58200.0    하락  200  58400.0  58500.0  57100.0  22198428.0
..         ...      ...        ...      ...      ...      ...         ...
95  2024.10.07  61000.0    상승  400  60200.0  61900.0  59500.0  35066533.0
96  2024.10.04  60600.0    하락  700  61000.0  61700.0  60500.0  24247578.0
97  2024.10.02  61300.0    하락  200  60500.0  61900.0  59900.0  28473536.0
98  2024.09.30  61500.0  하락  2,700  64200.0  64300.0  61500.0  32694163.0
99  2024.09.27  64200.0    하락  500  64700.0  65400.0  64200.0  28433030.0

[100 rows x 7 columns]

In [267]:
# 1~10페이지까지 테이블을 셀레니움으로 가져와서 하나의 데이터프레임 만들기

total = []
for i in range(1, 720):
    # 페이지가 모두 뜰때까지 최대 10초를 기다려라
    driver.implicitly_wait(10)
    driver.get(f'https://finance.naver.com/item/sise_day.naver?code=005930&page={i}')
    html = BeautifulSoup(driver.page_source)
    table = html.find('table')
    table = pd.read_html(str(table))[0].dropna()
    total.append(table)

              날짜       종가        전일비       시가       고가       저가         거래량
0     2025.02.27  56600.0        보합0  56500.0  57100.0  56400.0   7775924.0
1     2025.02.26  56600.0    하락  600  57000.0  57100.0  56100.0  18117091.0
2     2025.02.25  57200.0    하락  100  56600.0  57800.0  56500.0  14625181.0
3     2025.02.24  57300.0    하락  900  57300.0  57700.0  57200.0  14138471.0
4     2025.02.21  58200.0    하락  200  58400.0  58500.0  57100.0  22198428.0
...          ...      ...        ...      ...      ...      ...         ...
7177  1996.06.29  68500.0    상승  400  68100.0  69100.0  67100.0     96710.0
7178  1996.06.28  68100.0  상승  1,200  67300.0  68500.0  67200.0    138430.0
7179  1996.06.27  66900.0    하락  800  67500.0  67700.0  66700.0    155450.0
7180  1996.06.26  67700.0    상승  200  67600.0  67900.0  66000.0    136630.0
7181  1996.06.25  67500.0        보합0  66500.0  68300.0  65600.0    112960.0

[7182 rows x 7 columns]

In [275]:
samsung = pd.concat([data for data in total], ignore_index=True)
sansung = samsung.iloc[1:]
samsung.to_excel('삼성 주가 데이터.xlsx', index = False)
samsung

              날짜       종가        전일비       시가       고가       저가         거래량
0     2025.02.27  56600.0        보합0  56500.0  57100.0  56400.0   7775924.0
1     2025.02.26  56600.0    하락  600  57000.0  57100.0  56100.0  18117091.0
2     2025.02.25  57200.0    하락  100  56600.0  57800.0  56500.0  14625181.0
3     2025.02.24  57300.0    하락  900  57300.0  57700.0  57200.0  14138471.0
4     2025.02.21  58200.0    하락  200  58400.0  58500.0  57100.0  22198428.0
...          ...      ...        ...      ...      ...      ...         ...
7177  1996.06.29  68500.0    상승  400  68100.0  69100.0  67100.0     96710.0
7178  1996.06.28  68100.0  상승  1,200  67300.0  68500.0  67200.0    138430.0
7179  1996.06.27  66900.0    하락  800  67500.0  67700.0  66700.0    155450.0
7180  1996.06.26  67700.0    상승  200  67600.0  67900.0  66000.0    136630.0
7181  1996.06.25  67500.0        보합0  66500.0  68300.0  65600.0    112960.0

[7182 rows x 7 columns]